<div style="text-align:center">
  <div class="title">
    The Medicine App
  </div>
</div>
<br><br>
<div class="text-form">
  Aplikacja The Medicine App została napisana w Angularze 6.1.1.
  Aplikacja ma na zadaniu przypomnieć użytkownikowi kiedy, jakie i ile ma zażyć podane przez niego leki.
  Ponadto można podejrzeć wykres przyjętych, opóźnionych i nieprzyjętych leków.
  Użytkownik dostaje powiadomienie mail kiedy ma zażyć dany lek oraz ma możliwość podglądu własnej listy leków i nią
  zarządzać.
</div>
