footer {
  position:relative;
  bottom:0;
  width:100%;
  height:60px;
}

.center {
  align-content: center;
  align-items: center;
  text-align: center;
  clear:both;
}

.bg {
  background-image: url("https://image.freepik.com/darmowe-wektory/tlo-medyczne-struktury-molekularnej_115579-408.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 100vh;
}
